h1 {
	font-weight: bold;
}

h2 {
	background-color: #d1e0e0;
	color: #4d0000;
	padding: .5em;
	font-size: 1.5em;
	display: inline-block;
}

fieldset {
	border: none;
}

form {
	border: solid black;
	padding: 2em;
}

input {
	margin: 1em;
}

em {
	color: red;
}